node_modules/
.pnp
.pnp.js

.next/
dist/
build/
out/

.turbo/

.env
.env.*
.env.example
.envrc
**/.env.example

/coverage/
apps/*/coverage/
packages/*/coverage/
.nyc_output/
playwright-report/
test-results/
playwright/.cache/
.playwright/

*.tsbuildinfo

.vercel/
.netlify/

*.pem
*.crt
*.cer
*.csr
*.der

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pgdata/

*.pdf
*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.txt
~$*

*.md
*.mdx

docs/

/00.sql
*.dump
*.sql.gz
*.backup
.vercel
